<!--<h1> Maimuna Hello</h1>
<div *ngSwitch="role">
    <div *ngSwitchCase="'User'">Welcome User!</div>
    <div *ngSwitchCase="'Admin'">
        <hinv-root></hinv-root>
    </div>
    <div *ngSwitchDefault> You are not authorized to view this page</div>
</div>-->
<!--<hinv-rooms></hinv-rooms>
<hinv-container>
  <hinv-rooms></hinv-rooms>
  <hinv-employee></hinv-employee>
  <h1>This is from ng-content</h1>
</hinv-container>-->

<!--<div>
<ng-template #user></ng-template>    
</div>-->

<!--@switch (role) {
    @case ('Admin') { <hinv-rooms/> }
    @case ('User') { <div>Welcome User!</div> }
    @default { <div>You are not authorized to view this page</div> }
  }-->
<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a> -->
<hinv-app-nav></hinv-app-nav>
<!-- <router-outlet></router-outlet> -->